* {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  cursor: default;
}     
aside, footer, header, section { 
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
}
html {
  padding-bottom: 70px;
}
body {
  font: 300 14px/1.5 "Helvetica Neue", sans-serif;
  color: #000;
  background: #fff;
  cursor: default;
  overflow-x: hidden;
}

a { color: #0083b1; }
a:active {
  position: relative;
  top: 0.1em;
}

.alert {
  position: fixed;
  min-width: 70px;
  z-index: 9999;
  background: rgba(0,0,0,0.85);
  color: #fff;
  padding: 7px 10px;
  font-size: 13px;
  line-height: 1.25;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 3px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.success {
  background: green;
}
.hide {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

header.site {
  position: fixed;
  bottom: 0;
  padding: 0 10px;
  left: 0;
  right: 0;
  z-index: 3;
  height: 70px;
  background: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
h1.site {
  overflow: hidden;
  height: 0.915em;
  position: absolute;
  bottom: 20%;
  padding-right: 1em;
  letter-spacing: -0.12em;
  font-size: 60px;
  color: black; }
  
dl.colors-output {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
  position: absolute;
  width: 140px;
  right: 0;
  bottom: 10%; }
dd.format {
  display: inline;
  font-weight: 600; }
dd.current.format {
  color: black; }
 
.left {
  float: left;
} 
.right {
  float: right;
}
.banner {
  font-size: 13px;
  right: 0;
  bottom: 70px;
  padding: 10px;
  color: #999;
  background: #000;
  background: -webkit-linear-gradient(#111,#333);
  overflow: hidden;
}
.banner a {
  color: #fff;
}

/* ///////////////////
Colors and empty slots
/////////////////// */
.color, .empty-color {
  width: 8.333%;
  padding-bottom: 8.333%;
  float: left; }

.color {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 0;
  text-indent: -9999em; }
  
.empty-color {
  border: dashed #ddd;
  border-width: 1px 1px 0 0;
  margin-top: -1px;
  margin-right: -1px; }