/* /////////////
Helpers
///////////// */
.img {
  display: block;
  text-indent: 100%; 
  white-space: nowrap;
  overflow: hidden; 
  background: no-repeat;
}
.hide {
  position: absolute;
  top: -9999em;
  left: -9999em;
}
.left, .item {
  float: left;
} 
.right {
  float: right;
}
.clear:before,
.clear:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  visibility: hidden; 
} 
.clear:after { 
  clear: both;
}

/* Images */
.img.close {
  width: 18px;
  height: 18px;
  background-color: rgba(0,0,0,0.3);
  background-image: url('close.png');
}
.img.close:hover {
  background-color: #000;
}

/* Animations */
@-webkit-keyframes scalemation {
  0% {
    width: 0%;
  }
  100% {
    width: 32px;
  }
}

/* /////////////
Foundation
///////////// */
* {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  cursor: default;
}

body {
  font: 12px/1.5 "Helvetica Neue", sans-serif;
  color: #000;
  background: #eee;
  cursor: default;
  padding: 32px 256px;
  padding-left: 30px;
}
header {
  font-size: 14px;
}

a { 
  color: #0083b1; 
}

aside, footer, header, section { 
  display: block;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}
p {
  margin-bottom: 10px;
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
input, button {
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 1px #fff;
}
input {
  width: 100%;
  padding: 5px;
  box-shadow: 0 1px #fff, inset 1px 1px 1px #ddd;
}
.inside-input {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: #ccc;
  line-height: 30px;
}
button {
  padding: 5px 10px;
  font-size: 11px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px #fff;
  background: -webkit-linear-gradient(#ddd, #ccc);
}
button.join {
  margin-top: 10px;
  position: relative;
  display: block;
  float: left;
  border-radius: 0;
  margin-right: -1px;
}
button.join:first-of-type {
  border-radius: 2px 0 0 2px;
  border-left-width: 1px;
}
button.join:last-of-type {
  border-radius: 0 2px 2px 0;
  border-right-width: 1px;
  border-right-color: #aaa;
}
button.join[data-state=active] {
  color: #fff;
  border-color: #666;
  background: -webkit-linear-gradient(#666, #999);
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  border-width: 1px;
  z-index: 1;
}
kbd {
  font-family: monaco, monospace;
  color: #fff;
  background: #000;
}

/* ///////////////////
Colors and empty slots
/////////////////// */
.b-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.color {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 0;
  text-indent: -9999em;
}
.empty-color {
  border: dashed #ddd;
  border-width: 1px 1px 0 0;
  margin-top: -1px;
  margin-right: -1px;
}

#colors > .item {
  width: 8.333%;
  padding-bottom: 8.333%;
}
#palette > .item {
  width: 32px;
  padding-bottom: 32px;
  -webkit-animation: 0.25s scalemation;
}

#panels {
  position: fixed;
  width: 192px;
  top: 32px;
  right: 32px;
  overflow: auto;
  bottom: 48px;
}
#info {
  height: 240px;
}
.color-preview {
  position: relative;
}
.color-preview .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}
.color-preview .color {
  width: 100%;
  height: 75px;
}
#subjects[data-subjects="2"] .color-preview {
  width: 50%;
  float: left;
}
#subjects[data-subjects="2"] .color-name span {
  display: none;
}
.log {
  margin-top: 10px;
  padding: 2px 7px;
  font-size: 13px;
}
.dropzone {
  padding: 40px ;
  font-size: 13px;
  text-align: center;
  border: 2px dashed #ccc;
  color: #666;
}
.sep {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.note {
  color: #999;
}
.sep-header {
  position: relative;
  padding: 10px 0;
}
.s2 {
  font-size: 16px;
}
#logo {
  position: fixed;
  bottom: 0;
}
