/* /////////////
Helpers
///////////// */
.img {
  display: block;
  text-indent: 100%; 
  white-space: nowrap;
  overflow: hidden; 
  background: no-repeat;
}
.hide {
  position: absolute;
  top: -9999em;
  left: -9999em;
}
.left, .item {
  float: left;
} 
.right {
  float: right;
}

/* Images */
.img.close {
  width: 18px;
  height: 18px;
  background-color: rgba(0,0,0,0.3);
  background-image: url('close.png');
}
.img.close:hover {
  background-color: #000;
}

/* Animations */
@-webkit-keyframes scalemation {
  0% {
    width: 0%;
  }
  100% {
    width: 32px;
  }
}

/* /////////////
Foundation
///////////// */
* {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  cursor: default;
}

body {
  font: 14px/1.5 "Helvetica Neue", sans-serif;
  color: #000;
  background: #eee;
  cursor: default;
  padding: 32px 256px;
  padding-left: 30px;
}

a { 
  color: #0083b1; 
}

aside, footer, header, section { 
  display: block;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* ///////////////////
Colors and empty slots
/////////////////// */
.color {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 0;
  text-indent: -9999em;
}
.empty-color {
  border: dashed #ddd;
  border-width: 1px 1px 0 0;
  margin-top: -1px;
  margin-right: -1px;
}

#colors > .item {
  width: 8.333%;
  padding-bottom: 8.333%;
}
#palette > .item {
  width: 32px;
  padding-bottom: 32px;
  -webkit-animation: 0.25s scalemation;
}

#panels {
  position: fixed;
  width: 192px;
  top: 32px;
  right: 32px;
  overflow: auto;
  bottom: 48px;
}
#info {
  height: 240px;
}
.color-preview {
  position: relative;
}
.color-preview .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}
.color-preview .color {
  height: 75px;
}
.color-name {
}
.two-colors .color-preview {
  width: 50%;
  float: left;
}
.two-colors .color-name span {
  display: none;
}
.message {
  margin-top: 10px;
  padding: 2px 7px;
  font-size: 13px;
}
.dropzone {
  padding: 40px ;
  font-size: 13px;
  text-align: center;
  border: 2px dashed #ccc;
  color: #666;
}
.sep {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.sep > header {
  padding: 10px 0;
}
.s2 {
  font-size: 16px;
}
.option {
  color: #999;
} .option[data-state=active] {
  color: #000;
}
#logo {
  position: fixed;
  bottom: 0;
}
