* {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	list-style: none;
	cursor: default;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[draggable=true] {
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

body, html {
	height: 100%;
}

body {
	font: 12px/1.5 "Gotham A", "Gotham B", "Gotham HTF", Futura, sans-serif;
	color: #000;
	background: #232323;
}

a { 
	color: #0083b1; 
	cursor: pointer;
}

aside, footer, header, section { 
	display: block;
}

button.join, button.secondary {
	background: #111;
	color: #999;
}
button.secondary {
	color: #fff;
}
button, button.active, button[data-state=active] {
	padding: 5px 10px;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #232323;
	background: #fff;
	cursor: pointer;
}
kbd {
	font-family: monaco, monospace;
	color: #fff;
	background: #000;
}

.right {
	float: right;
}
.clear:before,
.clear:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	visibility: hidden; 
} 
.clear:after { 
	clear: both;
}

/* Logo */
#logo {
	bottom: -.62em;
	left: 20px;
	z-index: 3;
	font-size: 72px;
	color: #fff;
	pointer-events: none;
}
#clipboard_handler {
	position: absolute;
	font-size: 1px;
}
#format_status {
	position: absolute;
	bottom: 100%;
	left: 100%;
	white-space: nowrap;
	font-size: .4em;
	line-height: 1;
	margin-bottom: -1.5em;
	padding: 0.25em .5em;
	background: #232323;
}

/* Layout */
#library, #panels, #palette {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#library {
	width: 82.5%; 
	height: 100%;
	background: #232323;
	overflow-y: hidden;
	overflow-x: scroll;
}
#colors, .color-section {
	display: inline-block;
}
#colors {
	white-space: nowrap;
}
.color-section {
	width: 171.428571432vh;
	overflow: hidden;
}
/* — Conditions */
.active-panels #library {
	width: 57.5%;
}
.active-panels #panels {
	right: 17.5%;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.active-mode #library {
	margin-top: 45px;
}
.active-mode #panels,
.active-mode #palette {
	top: 45px;
}

/* Colors */
.item {
	float: left;
}
.color {
	cursor: pointer;

	/* Makes color preview show up while dragging. */
	position: relative;
	z-index: 1;
}
.color .name {
	display: none;
}
.empty-color {
	border: dashed #333;
	border-width: 0 1px 1px 0;
	margin: -1px -1px 0 1px;
}
#colors .item {
	width: 14.285714286vh;
	height: 14.285714286vh;
}

#inspector .color:not(button) {
	cursor: default;
}

#panels, #logo, #palette {
	position: fixed; 
}

#panels, #palette {
	top: 0;
	bottom: 0;
}
#panels {
	right: -25%;
	width: 25%;
	z-index: 2;
	opacity: 0;
	background: #232323;
	color: #fff;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4);
}

.subject-options {
	overflow: hidden;
}
.subject-options .column {
	float: left;
	width: 50%;
}
.subject-options .column:nth-child(2n-1) {
	padding-right: 10px;
}
.subject-options .column:nth-child(2n) {
	padding-left: 10px;
}

.block-button {
	display: block;
	padding: 10px 15px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #333;
}
.block-button.active {
	background: #333;
}



#palette, .the-rest {
	padding: 20px;
}
#palette, #palette .select,
#palette .select::before {
	background: #323232;
}
#palette {
	width: 17.5%;
	padding-right: 0;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 3;
}
#palette .select {
	position: fixed;
	width: 17.5%;
	right: 0;
	bottom: 0;
	z-index: 4;
	padding: 15px 20px 0;
}
#palette .select::before {
	content: '';
	position: absolute;
	bottom: 100%;
	width: 100%;
	left: 0;
	height: 5px;
	margin-bottom: -1px;
	opacity: 0.2;
}
#palette h1 {
	font-size: 24px;
	line-height: 1;
}
#palette .active-palette {
	margin-right: 5px;
}
#palette button {
	position: relative;
	top: -0.3em;
	padding: 3px 5px;
	font-size: 0.4166em;
}
#palette h2 {
	margin-bottom: -0.39em;
	font-size: 48px;
	line-height: 1;
	color: #fff;
}

.select-options {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px 0;
	background: #fff;
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.select-options.active {
	pointer-events: auto;
	opacity: 1;
	bottom: 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.select-options::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 30px;
	border: 7px solid transparent;
	border-top-color: #fff;
	border-bottom: none;
}
.select-option,
.select-options input {
	padding: 3px 20px;
	border: solid #ddd;
}
.select-options input {
	padding-bottom: 0;
	width: 100%;
	border-width: 1px 0 0;
	font-weight: bold;
	font-family: inherit;
}
.select-option {
	font-size: 16px;
	font-weight: bold;
	border-width: 0 0 1px;
}
.select-option, .name-option {
	cursor: pointer;
}
.select-option:last-child {
	border-width: 0;
}
.select-option:hover {
	background: #eee;
}
.select-options a {
	color: #f67192;
}
.select-options a:hover {
	text-decoration: underline;
}
#palette_colors {
	padding-bottom: 85px;
}
#palette_colors .color, .sample.color {
	display: block;
	float: none;
	height: 85px;
	margin-bottom: 20px;
	-webkit-animation: 0.25s scalemation;
	-moz-animation: 0.25s scalemation;
	animation: 0.25s scalemation;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#palette_colors .color.deleted {
	height: 0;
	opacity: 0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}
.sample.color {
	pointer-events: none;
}
#palette_colors .name {
	display: block;
	position: absolute;
	top: -20px; left: 20px;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	pointer-events: none;
	white-space: nowrap;
}
.mix-mark {
	color: #ccc;
}
.the-rest {
	padding-top: 0;
}

aside section {
	margin-top: 15px;
}
aside h1 {
	font-size: 16px;
	margin-bottom: 5px;
}
footer p:not(:last-child) {
	margin-bottom: 1em;
}
aside li {
	margin: 0 -20px;
	padding: 5px 20px;
	font-size: 12px;
	border: 0 solid #444;
	border-top-width: 1px;
}
aside li:last-child {
	border-bottom-width: 1px;
}
aside footer {
	margin-top: 20px;
	color: #999;
}
aside footer a {
	text-decoration: none;
	color: #fff;
}

*:focus {
	outline: none
}

.color-preview {
	position: relative;
}
.color-preview .close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99999;
}
.color-preview .color {
	width: 100%;
	padding-bottom: 50%;
}
#inspector {
	margin-top: 20px;
	margin-left: -20px;
}
#preview {
	position: relative;
}
#subjects[data-subjects="2"] .color-preview {
	width: 50%;
	float: left;
}
#subjects[data-subjects="2"] .color-preview .color {
	padding-bottom: 100%;
}
.color-name {
	position: absolute;
	z-index: 2;
	font-size: 48px;
	top: -.9em;
	left: 40px;
	color: #fff;
	white-space: nowrap;
}
#subjects[data-subjects="2"] .color-name {
	font-size: 24px;
	top: -.75em;
}

#mixButton, #mixControls {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
}
#mixButton, #mixBalance {
	z-index: 4;
}
#mixButton {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 50px;
	height: 30px;
	margin-left: -25px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-animation: opacity .2s;
	-o-animation: opacity .2s;
	animation: opacity .2s;
}
#mixButton.active {
	outline: 0;
	width: 30px;
	margin-left: -15px;
	color: #fff;
	pointer-events: none;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#mixControls {
	margin-left: -65px;
	background-color: #232323;
}
#mixBalance {
    -webkit-appearance: none;
    position: relative;
    width: 130px;
    height: 30px;
    background: no-repeat transparent center;
    background-size: 120px 100%;
}
#mixBalance::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#mixResult {
	position: absolute;
	width: 100%;
	top: 50%;
	bottom: 0;
	z-index: 3;
	margin-top: 15px;
	padding: 20px;
	text-align: right;
	-webkit-animation: opacity .2s;
	-o-animation: opacity .2s;
	animation: opacity .2s;
}
#mixResult > button {
	margin-top: 10px;
}

#mixWeightA, #mixWeightB {
	position: absolute;
	bottom: 100%;
	font-weight: bold;
	color: #232323;
	font-size: 21px;
}

#mixWeightA {
	right: 50%;
	margin-right: 75px;
}
#mixWeightB {
	left: 50%;
	margin-left: 75px;
}


.color-preview .color .mix-mark {
	display: none;
}

#subjects[data-subjects="2"] .color-preview:last-child .color-name {
	left: 20px;
}
.log {
	position: relative;
	padding: 5px 40px;
	font-size: 18px;
}
.subtitle {
	color: #999;
}
.dropzone p {
	margin-bottom: 10px;
	font-size: 14px;
	color: #fff;
	line-height: 1.3;
}
.dropzone i.drop {
	float: left;
	margin-right: 10px;
}
.dropzone .color {
	margin-right: 20px;
	background: #232323;
	border: 2px dashed #444;
}

.mode-dialog {
	position: absolute;
	top: -45px;
	left: 0;
	right: 0;
	z-index: 9999;
	height: 45px;
	padding: 8px 20px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	background: #fff;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}
.active-compare-mode #compareModeDialog,
.active-mix-mode #mixModeDialog {
	top: 0;
}
.mode-dialog button {
	float: right;
}

/* Animations */
@-webkit-keyframes scalemation {
	0%   { height: 0px; }
	50%  { height: 100px; }
	100% { height: 85px; }
}
@-moz-keyframes scalemation {
	0%   { height: 0px; }
	50%  { height: 100px; }
	100% { height: 85px; }
}
@keyframes scalemation {
	0%   { height: 0px; }
	50%  { height: 100px; }
	100% { height: 85px; }
}

@-webkit-keyframes opacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes opacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes opacity {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

/* Icons */
.close { 
	/* Use with '&times;' */
	width: 30px;
	height: 30px;
	line-height: 1.12em;
	text-align: center;
	font-size: 28px;
	color: #fff;
	background: #232323;
	background: rgba(0,0,0,.3);
}
.close:hover {
	background: #111;
	background: rgba(0,0,0,.5);
}

i.compare-icon,
i.mix-icon {
	cursor: pointer;
	display: inline-block;
	width: 76px;
	height: 38px;
	background: center no-repeat;
	background-size: auto 38px;
}
i.compare-icon {
	background-image: url('icons/compare.png');
}
i.mix-icon {
	background-image: url('icons/mix.png');
}

.contrast {
	position: absolute;
	right: 20px;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	text-indent: -999em;
	cursor: help;
	background: no-repeat;
	background-size: cover;
}
i.drop {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url('icons/drop.png');
	background-size: cover;
}
.good.contrast {
	background-image: url('icons/check.png');
}
.bad.contrast {
	background-image: url('icons/warning.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	i.drop {
		background-image: url('icons/drop@2x.png');
	}
	.good.contrast {
		background-image: url('icons/check@2x.png');
	}
	.bad.contrast {
		background-image: url('icons/warning@2x.png');
	}

	i.compare-icon {
		background-image: url('icons/compare@2x.png');
	}
	i.mix-icon {
		background-image: url('icons/mix@2x.png');
	}
}