@import url(reset.css);
body {
  font: 300 14px/1.5 "Helvetica Neue", sans-serif; }

strong {
  font-weight: bold; }

a {
  color: #0083b1; }

.b-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

header.site {
  position: fixed;
  bottom: 0;
  padding: 0 1%;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  background: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  header.site h1 {
    position: absolute;
    bottom: 20%;
    color: black;
    padding-right: 1em;
    height: 0.915em;
    overflow: hidden;
    font-size: 60px;
    letter-spacing: -0.12em; }

#options {
  font-size: 16px;
  position: absolute;
  width: 65%;
  right: 0;
  bottom: 20%; }
  #options .option {
    float: left;
    margin-right: 30px; }
    #options .option:last-child {
      margin-right: 0; }
  #options kbd {
    margin-right: 10px; }
  #options ul.inline {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #999999;
    position: relative; }
    #options ul.inline, #options ul.inline li {
      display: inline-block; }
    #options ul.inline li.current {
      color: black; }

#output {
  position: absolute;
  bottom: 100%;
  font-weight: 300;
  font-size: 13px;
  line-height: 1; }

.scroller {
  position: fixed;
  padding-bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 70px;
  overflow-y: auto;
  overflow-x: hidden; }

footer#credits {
  display: none;
  padding: 1em;
  padding-bottom: 4em;
  text-align: center; }

#clipboard_handler {
  position: absolute;
  top: -99em;
  left: -99em; }

#colors_placeholder {
  width: 101%; }

#loading_indicator {
  padding: 25% 0;
  text-align: center; }

.color, .black-space {
  width: 8.33%;
  padding-bottom: 8.33%;
  float: left; }

.color {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  
.color_value {
  display: none;
}

code, kbd {
  font: 11px/1.5 monaco, monospace;
  display: inline-block;
  padding: 0.25em 0.5em;
  background: #eeeeee;
  color: #888888; }

.palette {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2%;
  padding-top: 1.5%;
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  word-wrap: normal;
  white-space: nowrap; }
  .palette h2 {
    font-size: 24px; }

#clear_palette {
  font-weight: normal;
  font-size: 0.75em; }

#chosen_colors {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  position: relative; }
  #chosen_colors:after {
    content: "To add a color, click on it.";
    color: #999999;
    position: absolute;
    left: 0; }
  #chosen_colors .color, #chosen_colors span.spacer {
    width: 10%;
    padding-bottom: 10%;
    float: none;
    display: inline-block; }
  #chosen_colors span.spacer {
    width: 0px; }

.ticker {
  padding: 0.5em 0.75em;
  position: fixed;
  bottom: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  z-index: 3; }
  .ticker code {
    background: #333333;
    color: white; }
  .ticker .close {
    color: white;
    float: right;
    font-weight: bold;
    text-decoration: none; }

#min_mode {
  display: none;
  float: right; }

/* Mini mode */
@media screen and (max-width: 720px) {
  header.site {
    padding: 0 2.5%;
    height: 50px; }
    header.site h1 {
      font-size: 300%; }
    header.site p {
      width: auto;
      margin-right: 2.5%; }

  .ticker, .scroller {
    bottom: 50px; }

  .palette {
    padding: 4%;
    padding-top: 3.5%; }
    .palette h2 {
      font-size: 16px; }

  #colors_placeholder {
    width: 102%; }

  #min_mode {
    display: block; }

  .option {
    display: none; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  header.site {
    position: relative; }

  .palette {
    border-top: 1px solid #eeeeee; }

  .scroller {
    position: relative; }

  kbd {
    display: none; }

  .ticker {
    display: none; }

  .color_value {
    display: block; } }