@import url("reset.css");

/* Prevents the bounce effect on Lion
////////////////////////////////// */
html {
  overflow: hidden; }

body {
  font: 300 14px/1.5 "Helvetica Neue", sans-serif;
  color: #000;
  background: #fff; }

strong {
  font-weight: bold; }

a {
  color: #0083b1; }

.b-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

#clipboard_handler {
  position: absolute;
  top: -99em;
  left: -99em; }

header.site {
  position: fixed;
  bottom: 0;
  padding: 0 1%;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  background: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
h1.site {
  overflow: hidden;
  height: 0.915em;
  position: absolute;
  bottom: 20%;
  padding-right: 1em;
  letter-spacing: -0.12em;
  font-size: 60px;
  color: black; }

#options {
  font-size: 16px;
  position: absolute;
  width: 65%;
  right: 0;
  bottom: 20%; }
.option {
  float: left;
  margin-right: 30px; }
.option:last-child {
  margin-right: 0; }
.option kbd {
  margin-right: 10px; }
  
dl.colors-output {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
  position: absolute;
  width: 140px;
  right: 0;
  bottom: 10%; }
dd.format {
  display: inline;
  font-weight: 600; }
dd.current.format {
  color: black; }

#scroller {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 70px;
  overflow-y: auto;
  overflow-x: hidden; }

#colors {
  position: relative;
  width: 100.777777777%;
  overflow: hidden;
}
  
footer.site {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 45%;
  padding: 10px 15px;
  color: #666;
  background: #fff; }

/* ///////////////////
Colors and empty slots
/////////////////// */
.color, .empty-color {
  width: 8.333333333%;
  padding-bottom: 8.333333333%;
  float: left; }

.color {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  
.empty-color {
  border: dashed #ddd;
  border-width: 1px 1px 0 0;
  margin-top: -1px;
  margin-right: -1px; }

code, kbd {
  font: 11px/1.5 monaco, monospace;
  display: inline-block;
  padding: 0.25em 0.5em;
  background: #eeeeee;
  color: #888888; }

.palette {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2%;
  padding-top: 1.5%;
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  word-wrap: normal;
  white-space: nowrap; }
  .palette h2 {
    font-size: 24px; }

#clear_palette {
  font-weight: normal;
  font-size: 0.75em; }

#chosen_colors {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  position: relative; }
  #chosen_colors:after {
    content: "To add a color, click on it.";
    color: #999999;
    position: absolute;
    left: 0; }
  #chosen_colors .color, #chosen_colors span.spacer {
    width: 10%;
    padding-bottom: 10%;
    float: none;
    display: inline-block; }
  #chosen_colors span.spacer {
    width: 0px; }

.ticker {
  padding: 0.5em 0.75em;
  position: fixed;
  bottom: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  z-index: 3; }
  .ticker code {
    background: #333333;
    color: white; }
  .ticker .close {
    color: white;
    float: right;
    font-weight: bold;
    text-decoration: none; }

#min_mode {
  display: none;
  float: right; }

/* ////////////
Tiny edition
//////////// */
@media screen and (max-width: 720px) {
  header.site {
    padding: 0 2.5%;
    height: 50px; }
    header.site h1 {
      font-size: 300%; }
    header.site p {
      width: auto;
      margin-right: 2.5%; }

  #scroller, .ticker {
    bottom: 50px; }

  .palette {
    padding: 4%;
    padding-top: 3.5%; }
    .palette h2 {
      font-size: 16px; }
    
  footer.site {
    clear: both;
    position: relative;
    max-width: none;
    top: -1px;
    border-top: 1px solid #ddd;
  }

  #min_mode {
    display: block; }

  .option, .colors-output {
    display: none; } }
    
/* //////////////////////
iPad & iPhone editions
////////////////////// */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #scroller {
    position: relative; }
  .ticker {
    display: none; }
}
    
/* /////////////////
iPad edition only
///////////////// */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    font-weight: normal;
  } }
    
/* ///////////////////
iPhone edition only
/////////////////// */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}