@import url(reset.css);
body {
  font: 300 14px/1.5 "Helvetica Neue", sans-serif; }

strong {
  font-weight: bold; }

a {
  color: #0083b1; }

.b-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

header.site {
  position: fixed;
  bottom: 0;
  padding: 0 1%;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  background: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  header.site h1 {
    position: absolute;
    bottom: 20%;
    color: black;
    padding-right: 1em;
    height: 0.915em;
    overflow: hidden;
    font-size: 60px;
    letter-spacing: -0.12em; }

#options {
  font-size: 16px;
  position: absolute;
  width: 65%;
  right: 0;
  bottom: 20%; }
  #options > li {
    float: left;
    margin-right: 30px; }
    #options > li:last-child {
      margin-right: 0; }
  #options kbd {
    margin-right: 10px; }
  #options ul.inline {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #999999; }
    #options ul.inline, #options ul.inline li {
      display: inline-block; }
    #options ul.inline li.current {
      color: black; }

.scroller {
  position: fixed;
  padding-bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 70px;
  overflow-y: auto;
  overflow-x: hidden; }

footer#credits {
  display: none;
  padding: 1em;
  padding-bottom: 4em;
  text-align: center; }

#clipboard_handler {
  position: absolute;
  top: -99em;
  left: -99em; }

#colors_placeholder {
  width: 101%; }

#loading_indicator {
  padding: 25% 0;
  text-align: center; }

.color, .black-space {
  width: 8.33%;
  padding-bottom: 8.33%;
  float: left; }

.color {
  position: relative;
  z-index: 1;
  overflow: hidden; }

.color_value {
  position: absolute;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.35);
  word-spacing: -0.5em;
  white-space: nowrap;
  cursor: default;
  font: 11px/1.5 monaco, monospace; }
  .color:hover .color_value {
    background: rgba(255, 255, 255, 0.85);
    color: black; }

code, kbd {
  font: 11px/1.5 monaco, monospace;
  display: inline-block;
  padding: 0.25em 0.5em;
  background: #eeeeee;
  color: #888888; }

.palette {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2%;
  padding-top: 1.5%;
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  word-wrap: normal;
  white-space: nowrap; }
  .palette h2 {
    font-size: 24px; }

#clear_palette {
  font-weight: normal;
  font-size: 0.75em; }

#chosen_colors {
  width: 100%;
  height: 100%;
  overflow-x: scroll; }
  #chosen_colors .color, #chosen_colors span.spacer {
    width: 10%;
    padding-bottom: 10%;
    float: none;
    display: inline-block; }
  #chosen_colors span.spacer {
    width: 0px; }

.ticker {
  padding: 0.5em 0.75em;
  position: fixed;
  bottom: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  z-index: 3; }
  .ticker code {
    background: #333333;
    color: white; }
  .ticker .close {
    color: white;
    float: right;
    font-weight: bold;
    text-decoration: none; }

/* Mini mode */
@media screen and (max-width: 720px) {
  header.site {
    padding: 0 2.5%; }
    header.site p {
      width: auto;
      margin-right: 2.5%; }

  .palette {
    padding: 4%;
    padding-top: 3.5%; }
    .palette h2 {
      font-size: 16px; }

  .color_value {
    width: 1.5em;
    overflow: hidden; }
    .color_value:before {
      content: "Î©";
      padding: 0 0.5em; }

  #colors_placeholder {
    width: 102%; } }
/* Full mode */
@media only screen and (min-width: 1400px) {
  .scroller {
    top: 0;
    bottom: 0; }
    .palette-shown .scroller {
      right: 25%; }

  .palette {
    width: 25%;
    right: 0;
    top: 0;
    bottom: 70px;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

  #chosen_colors {
    position: absolute;
    left: 25px;
    width: auto;
    height: inherit;
    top: 75px;
    right: 25px;
    bottom: 25px; }
    #chosen_colors .color {
      display: block;
      width: 100%;
      height: 10%; }

  header.site {
    width: 25%;
    left: inherit;
    right: 0;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0; }
    .palette-shown header.site {
      box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
    header.site p {
      display: none; }

  .ticker {
    padding: 0.5em 0.75em;
    position: fixed;
    bottom: 0;
    width: 75%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 3; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  header.site {
    position: relative; }

  .palette {
    border-top: 1px solid #eeeeee; }

  .scroller {
    position: relative; } }
