{* templates/test.html {
  text: {
    label: "First",
    color: firstHex,
    contrast: checkContrast("#"+firstHex,"#"+hex)
  },
  bg: {
    label: "second",
    color: hex
  }
}*}

{* templates/test.html {
  text: {
    label: "Second",
    color: hex,
    contrast: checkContrast("#"+hex,"#"+firstHex)
  },
  bg: {
    label: "first",
    color: firstHex
  }
}*}

{* templates/gradient.html {
  top_color: firstHex,
  bottom_color: hex
}*}
{* templates/gradient.html {
  top_color: hex,
  bottom_color: firstHex
}*}
