{* templates/test.html {
  text: {
    label: "Color",
    color: hex
  },
  bg: {
    label: "white",
    color: "fff"
  }
}*}

{* templates/test.html {
  text: {
    label: "White",
    color: "fff"
  },
  bg: {
    label: "color",
    color: hex
  }
}*}

{* templates/test.html {
  text: {
    label: "Color",
    color: hex
  },
  bg: {
    label: "black",
    color: "000"
  }
}*}

{* templates/test.html {
  text: {
    label: "Black",
    color: "000"
  },
  bg: {
    label: "color",
    color: hex
  }
}*}