{* templates/test.html {
  text: {
    label: "Color",
    color: hex,
    contrast: checkContrast("#"+hex, "#fff")
  },
  bg: {
    label: "white",
    color: "fff"
  }
}*}

{* templates/test.html {
  text: {
    label: "White",
    color: "fff",
    contrast: checkContrast("#fff","#"+hex)
  },
  bg: {
    label: "color",
    color: hex
  }
}*}

{* templates/test.html {
  text: {
    label: "Color",
    color: hex,
    contrast: checkContrast("#"+hex,"#111")
  },
  bg: {
    label: "black",
    color: "111"
  }
}*}

{* templates/test.html {
  text: {
    label: "Black",
    color: "111",
    contrast: checkContrast("#111","#"+hex)
  },
  bg: {
    label: "color",
    color: hex
  }
}*}