@import url('reset.css');

body {
  font: 14px/1.5 'Helvetica Neue', sans-serif;
}

b {
  font-weight: bold;
}
i {
  font-style: italic;
}

#new-color {
  width: 100%;
  margin: 0;
  padding: 10px 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

#palette li {
  padding: 10px;
}
.color-value, .text-example {
  font: 11px/1 monaco;
}
.text-example {
  background: #fff;
  margin-left: 10px;
}
.text-example.dark-background {
  background: #000;
}
a.destroy {
  float: right;
  text-decoration: none;
  padding: 0 5px;
  font-weight: bold;
  display: inline-block;
}
a.destroy:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}
.color-value, a.destroy {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}